.iko-btn {
  font-size: 16px;
  border: none;
  color: var(--white);
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    opacity: 0.8;
  }

  .icon-left {
    margin-right: 10px;
  }

  .icon-right {
    margin-left: 10px;
  }

  &-outline {
    background-color: transparent;
    color: var(--dark);
    border: 1px solid;
  }

  &-block {
    display: block;
    text-align: center;
    width: 100%;
  }

  &-lg {
    font-size: 18px;
    height: 45px;
    padding: 0 20px;
  }

  &-md {
    font-size: 14px;
    height: 36px;
    padding: 0 12px;
  }

  &-sm {
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
  }
}
