.footer {
  height: 100%;
  @include flex(center, space-between);

  &__left,
  &__right {
    width: 25%;
  }
}
.media {
  @include flex(center, flex-start);
  &__thumbnail {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
  }
  &__author {
    font-size: 12px;
    opacity: 0.6;
  }

  &__actions {
    @include flex(center, center);
  }
  .iko-btn {
    color: var(--dark);
    background-color: transparent;
    width: 36px;
    padding: 0;
    text-align: center;
    border-radius: 50px;

    ~ .iko-btn {
      margin-left: 5px;
    }

    &:hover {
      background-color: var(--transparent-black-3);
    }
  }
}

.input-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  display: block;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    background-color: #e75576; //var(--green);
    cursor: pointer;
  }
}

.player-control {
  &__top,
  &__bottom {
    @include flex(center, center);
    flex-direction: row;
  }

  &__top {
    height: 50px;
  }

  &__slider {
    width: 100%;
    input {
      width: 100%;
    }
  }

  &__time {
    width: 50px;
    text-align: center;
  }

  .iko-btn {
    color: var(--dark);
    background-color: transparent;
    padding: 0;
    text-align: center;
    border-radius: 50px;
    width: 36px;
    height: 36px;

    &.active {
      color: var(--blue);
    }

    &.btn-play {
      width: 40px;
      height: 40px;
      border: 1px solid;

      &:hover {
        background-color: transparent;
        color: var(--blue);
      }
    }

    ~ .iko-btn {
      margin-left: 10px;
    }

    &:hover {
      background-color: var(--transparent-black-3);
    }
  }

  &__right {
    @include flex(center, flex-end);

    .iko-btn {
      color: var(--dark);
      background-color: transparent;
      margin-right: 5px;
      width: 36px;
      min-width: 36px;
      padding: 0;
      text-align: center;
      border-radius: 50px;

      &:hover {
        background-color: var(--transparent-black-3);
      }
    }
  }

  &__volume {
    @include flex(center, center);
  }
}
