.header {
  @include flex(center, space-between);
  height: var(--height-header);
  padding: 0 60px;
  position: absolute;
  top: 0;
  width: 100%;

  @include tablet {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 15px;
  }

  &__left,
  &__right {
    @include flex(center, space-between);
  }

  &__left {
    .iko-btn {
      border: 0px;
      padding-left: 0;
      padding-right: 30px;

      @include tablet {
        padding-right: 15px;
      }
    }
  }

  &__center {
    width: 100%;
  }

  &__search {
    position: relative;
    > i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
    }

    > i.right {
      right: 0;
      left: auto;
      padding: 12px;
    }

    .iko-input {
      margin-bottom: 0;

      &__input {
        padding-left: 40px;
        border-radius: 50px;
        border: none;
        background-color: var(--transparent-black-1);
      }
    }
  }

  &__right {
    margin-left: 30px;

    @include tablet {
      margin-left: 15px;
    }

    .iko-btn {
      color: var(--dark);
      padding: 0;
      width: 40px;
      text-align: center;
      border-radius: 50px;
      background-color: var(--transparent-black-1);
      ~ .iko-btn {
        margin-left: 10px;
      }
    }
  }
}

.menu {
  &__item {
    a {
      display: block;
      padding: 10px 15px;
      color: var(--dark);
      border-left: 3px solid transparent;
      &.active {
        background-color: var(--transparent-black-3);
        border-left-color: var(--blue);
      }
      span {
        margin-left: 5px;
      }

      &:hover {
        color: var(--blue);
      }

      @include tablet {
        text-align: center;
        span {
          display: none;
        }
      }
    }
    span {
      margin-right: 10px;
    }
  }
}
